$primary: hsl(172, 67%, 45%);

$verydarkcyan: hsl(183, 100%, 15%);
$DarkgrayishCyan: hsl(186, 14%, 43%);
$Grayishcyan: hsl(184, 14%, 56%);
$lightgrayishcyan: hsl(185, 41%, 84%);
$Verylightgrayishcyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$cyan: cyan;
